subscribers:

  camera_reading:
    # topic: /z/image2movie_color  #画像を動画
    topic: /z/generated_image    #カラー化生成画像 <-- test_realtime.py
    # topic: /z/camera_image       # 検出できるかテスト用 <-- camera.py
    # topic: /z/edge_image         # 事前処理画像 <-- edges_realtime.py
    # topic: /camera/color/image_raw  # realsense_camera 
    queue_size: 1

actions:

  camera_reading:
    name: /darknet_ros/check_for_objects

publishers:

  object_detector:
    topic: /darknet_ros/found_object
    queue_size: 1
    latch: false

  bounding_boxes:
    topic: /darknet_ros/bounding_boxes
    queue_size: 1
    latch: false

  detection_image:
    topic: /darknet_ros/detection_image
    queue_size: 1
    latch: true

image_view:

  enable_opencv: true
  wait_key_delay: 1
  enable_console_output: true
  show_image_with_boxes: true
